.comment-box {
    border: 1px solid var(--pcs-blue);
    border-radius: 2em;
    margin-left: 10%;
    margin-right: 10%;
    padding :1%;
}

.carrouselComments .carousel-control-prev ,
.carrouselComments .carousel-control-next {
    color: black !important;
}
.booked-date {
    background-color: red;
}
.available-date {
    background-color: green;
}
.selected-date {
    background-color: blue;
}
.date-text {
    color: white;
}
