/* styles.css */
body {
    background-color: #f8f9fa; 
}

h2 {
    color: #343a40;
}

.form-control {
    border-radius: 0.25rem; 
    border: 1px solid #ced4da; 
}

.form-check-label {
    font-weight: normal; 
}

.btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
    border-radius: 0.25rem; 
}

.form-check-inline {
    margin-right: 1rem; 
}

.form-group {
    margin-bottom: 1.5rem; 
}

.form-row{
    display: flex;
    justify-content: space-around;
}

.border-form{
    border: 3px solid #08152B;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    
}
@media screen and (max-width: 768px) {
    .mb-4 {
        font-size: small !important;
    
    }
    .form-control{
        font-size: small !important;
    
    }
}


.card{
    width: 18rem;
}



.bailleur-content {
    padding: 2%;
    background-color: #fff;
    border: 1px solid #ddd;
    margin:2%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* calendar.css */

.body-calendar {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #08152B;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.month-year {
    font-size: 1.5em;
    font-weight: bold;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden; /* To ensure the table corners are also rounded */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Optional: Adds a bit of shadow */
}

.header-row {
    background-color: #08152B;
    color: white;
}

.header-row th {
    padding: 15px 0;
}



.week-row:nth-child(even) .day-cell {
    background-color: #f2f2f2;
}
.event-day .event-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-left: 5px;
}
.calendar-container {
    width: 100%;
    max-width: 1400px; /* ou toute autre largeur que vous préférez */
    height: 100%;
    margin: 0 auto; /* cela centre le calendrier sur la page */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.header-row, .week-row {
    height: 75px;
}

.day-cell {
    width: 14.28%; /* 100 / 7 pour une distribution équitable sur les jours de la semaine */
    border: 1px solid #000;
    font-size : 20px;
    text-align: left;
    vertical-align: top;
    position: relative; /* Add this */
}
.reserved-day {
    background-color: #4e4e4e!important;
    color: white;

}

.btn-info{
    background-color: #08152B!important;
    border-color: #08152B!important;
    color : #f8f9fa !important;
}

.mood-img {
    position: absolute;
    bottom: 5px;
    right: 5px;
}


.header-row th {
    text-transform: uppercase;
    letter-spacing: .7px;
    background-color: #546E7A;
    color: white;
    padding: 5px 0;
}

.day-cell.event-day {
    background-color: #ffa726;
    color: white;
}

.navigation-links a {
    color: #546E7A;
    text-decoration: none;
}

.navigation-links a:hover {
    color: #ffa726;
}

.navigation-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.day-cell.weekend {
    background-color: #BEA57D;
}
.calendar-table .no-click a {
    color: black;
    text-decoration: none;
    font-weight: normal!important;
  }
.day-cell a{
    color: #08152B;
    font-weight: bold;
    text-decoration: none;
   
    }
